* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #f4f6fb;
  overflow: hidden;
}

.logo {
  max-width: 250px;
}

.container {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1019607843);
  position: relative;
}

nav {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 500px) {
  nav {
    padding: 0 30px;
  }
}
nav .nav_dashed {
  border: 1px dashed #2f2e5b;
}
nav .nav-menu {
  display: none;
  gap: 16px;
}
@media (min-width: 1200px) {
  nav .nav-menu {
    display: flex;
  }
}
nav .nav-menu li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #2f2e5b;
  font-weight: 600;
  border-radius: 8px;
}
nav .nav-menu li span {
  font-size: 10px;
  font-weight: 400;
}

.nav_hover {
  cursor: pointer;
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  border-radius: 8px;
}
.nav_hover:hover {
  background: rgb(241, 241, 241);
  transition: 0.1s ease-in-out;
}

.nav-menu .nav-item:last-of-type {
  background: rgb(241, 241, 241);
  border-radius: 8px;
  transition: 0.1s ease-in-out;
  border: 1px dashed transparent;
}
.nav-menu .nav-item:last-of-type:hover {
  border: 1px dashed #2f2e5b;
  transition: 0.1s ease-in-out;
}
.nav-menu .nav-item .dropdown {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  list-style-type: none;
  padding: 24px 32px;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1019607843);
  width: 1200px;
}
.nav-menu .nav-item .dropdown .category {
  min-width: 250px;
  margin: 0 30px 0 0;
}
.nav-menu .nav-item .dropdown .category h2 {
  font-size: 16px;
  text-transform: uppercase;
  background: #fcefb6;
  font-weight: 600;
  padding: 0 0 0 8px;
}
.nav-menu .nav-item .dropdown .category_ul {
  flex-direction: column;
}
.nav-menu .nav-item .dropdown .category_ul li {
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 20px 0 4px;
  flex-direction: row;
}
.nav-menu .nav-item .dropdown .category_ul h3,
.nav-menu .nav-item .dropdown .category_ul p {
  font-size: 12px;
  text-align: left;
  max-width: 150px;
}
.nav-menu .nav-item .dropdown .dropdown-item {
  padding: 0.5rem 1rem;
  color: #2f2e5b;
  white-space: nowrap;
}
.nav-menu .nav-item .dropdown .dropdown-item:hover {
  background-color: #666;
}
.nav-menu .nav-item .dropdown::before {
  content: "";
  width: 1200px;
  height: 40px;
  background: transparent;
  position: absolute;
  left: 50%;
  top: -15px;
  transform: translate(-50%, -50%);
}
.nav-menu .nav-item .dropdown_leto {
  top: 200px;
}
.nav-menu .nav-item .dropdown_smaller {
  top: 210px;
  width: 550px;
  right: 0;
  transform: translate(9%, -50%);
}
.nav-menu .nav-item .dropdown_smaller .hotel1-class {
  border-right: 1px dashed #2f2e5b;
}
.nav-menu .nav-item .dropdown_smaller .trip h3 {
  max-width: unset;
}
.nav-menu .nav-item .dropdown_smaller p {
  max-width: unset;
}
.nav-menu .nav-item .dropdown_contact {
  top: 210px;
  width: 450px;
  right: 0;
  transform: translate(32%, -50%);
  gap: 40px;
}
.nav-menu .nav-item .dropdown_contact h2 {
  font-size: 14px;
  font-weight: 600;
}
.nav-menu .nav-item .dropdown_contact strong {
  font-weight: 600;
}
.nav-menu .nav-item .dropdown_contact .viber {
  color: #864cb2;
  font-size: 14px;
  font-weight: 600;
}
.nav-menu .nav-item .dropdown_contact .whatsApp {
  color: #3adc49;
  font-size: 14px;
  font-weight: 600;
}
.nav-menu .nav-item .dropdown_contact p {
  margin: 16px 0;
  padding: 16px 0;
  border-top: 1px solid #2f2e5b;
  border-bottom: 1px solid #2f2e5b;
}
.nav-menu .nav-item .dropdown_contact .contact_links {
  display: flex;
  flex-direction: column;
}
.nav-menu .nav-item .dropdown_contact .contact_links a {
  text-decoration: none;
  color: #2f2e5b;
  padding: 0 0 16px 0;
}
.nav-menu .nav-item .dropdown_contact .trip h3 {
  max-width: unset;
}
.nav-menu .nav-item .dropdown_contact p {
  max-width: unset;
}
.nav-menu .nav-item:hover .dropdown {
  display: flex;
  animation: dropdownAnimation 0.3s ease-out forwards;
  background: white;
  z-index: 100;
}
@media (max-width: 1200px) {
  .nav-menu .nav-item:hover .dropdown {
    display: none;
  }
}

@keyframes dropdownAnimation {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 300px; /* Adjust as needed */
    opacity: 1;
  }
}
.hamburger_menu {
  display: none;
}
@media (max-width: 1200px) {
  .hamburger_menu {
    display: block;
  }
}
.hamburger_menu img {
  width: 50px;
  height: 50px;
}

.mobile_nav_dropdown {
  position: absolute;
  top: 88px;
  width: 100%;
  height: 100%;
  display: block;
  overflow-y: scroll;
  height: 130vh;
  background: white;
  z-index: 100;
  left: 0;
}
.mobile_nav_dropdown .mobile_nav_dropdown_padding {
  padding: 0 20px;
}
.mobile_nav_dropdown_contact {
  background: #2f2e5b;
  color: white;
}
.mobile_nav_dropdown_contact_heading {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.mobile_nav_dropdown_contact_content {
  height: 110vh;
  padding: 0 20px;
}
.mobile_nav_dropdown_contact_content .contact_links {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 0;
}
.mobile_nav_dropdown_contact_content .contact_links_wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  border-top: 1px solid white;
  border-top: 1px solid white;
}
.mobile_nav_dropdown_contact_content .contact_links_wrapper img {
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
}
.mobile_nav_dropdown_contact_content .contact_links a {
  color: white;
  padding: 16px 0;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
.mobile_nav_dropdown_contact_content .viber {
  color: #864cb2;
  font-size: 14px;
  font-weight: 600;
}
.mobile_nav_dropdown_contact_content .whatsApp {
  color: #3adc49;
  font-size: 14px;
  font-weight: 600;
}
.mobile_nav_dropdown_contact_content p {
  padding: 20px 0;
}
.mobile_nav_dropdown_category {
  padding: 16px;
}
@media (max-width: 500px) {
  .mobile_nav_dropdown_category {
    width: 100%;
    padding: 16px 0;
  }
}
.mobile_nav_dropdown_content {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .mobile_nav_dropdown_content {
    justify-content: center;
  }
}
.mobile_nav_dropdown_content h2 {
  font-size: 16px;
  text-transform: uppercase;
  background: #fcefb6;
  font-weight: 600;
  padding: 0 8px;
}
.mobile_nav_dropdown_content h5 {
  font-weight: 400;
  font-size: 14px;
}
.mobile_nav_dropdown_content li {
  list-style-type: none;
  font-size: 14px;
  color: #2f2e5b;
  font-weight: 600;
  border-radius: 8px;
  font-weight: 400;
  padding: 4px;
  margin: 8px 0 0 0;
  cursor: pointer;
}
.mobile_nav_dropdown_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  margin: 16px 0;
  background: rgb(241, 241, 241);
}
.mobile_nav_dropdown img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.mobile_nav_dropdown h3 {
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .mobile_nav_dropdown {
    display: none;
  }
}

.swiper-slide {
  overflow: hidden;
  width: 260px !important;
  margin-right: 16px;
}

.hero_wrapper {
  margin: 50px auto;
  max-width: 1180px;
  padding: 24px 0 32px 24px;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1019607843);
}
.hero_wrapper h1 {
  font-size: 18px;
  color: #2f2e5b;
  font-weight: 600;
}
.hero_wrapper h6 {
  font-size: 14px;
  color: #2f2e5b;
  font-weight: 600;
}
.hero_wrapper .hero_slider {
  margin: 32px 0;
}
.hero_wrapper .trip {
  width: 260px;
  height: 420px;
  border-radius: 18px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.hero_wrapper .trip h4,
.hero_wrapper .trip p {
  font-size: 12px;
}
.hero_wrapper .trip h4 {
  margin: 0 0 8px 0;
  padding: 0 0 8px 0;
  border-bottom: 1px solid white;
}
.hero_wrapper .trip_polasci {
  position: absolute;
  bottom: -20px;
  right: -54px;
  background: #dee5f8;
  color: black;
  z-index: 10;
  width: 140px;
  height: 76px;
  transform: rotate(313deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 32px 0;
  flex-direction: column;
}
.hero_wrapper .trip_polasci img {
  width: 15px;
  height: 15px;
}
.hero_wrapper .trip_ad {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 8px;
  z-index: 10;
  text-transform: uppercase;
}
.hero_wrapper .trip_ad_red {
  background: #d32c30;
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 10px !important;
}
.hero_wrapper .trip_ad_blue {
  background: #2f2e5b;
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 10px !important;
}
.hero_wrapper .trip_content_price {
  display: flex;
  gap: 8px;
}
.hero_wrapper .trip_content_price_popust {
  text-decoration: line-through;
}
.hero_wrapper .trip_content_price_real {
  color: #fcd210;
}
.hero_wrapper .trip_content_price p {
  font-size: 18px;
}
.hero_wrapper .trip h3 {
  font-weight: 600;
  font-size: 18px;
}

.hero_catergories {
  display: flex;
  text-transform: uppercase;
}
.hero_catergories p {
  margin: 32px 32px 0 16px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .hero_catergories p {
    margin: 16px 16px 0 8px;
  }
}
/*# sourceMappingURL=style.css.map */
