* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
$primary-color: #2f2e5b;
$background-color: #f4f6fb;
$yellow-color: #fcefb6;
$gray-color: rgb(241, 241, 241);
$yellow-strong: #fcd210;
$orange-color: #ff8227;
$container: 1180px;

body {
  background: $background-color;
}
.logo {
  max-width: 250px;
}
.container {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1019607843);
  position: relative;
}
.app_container {
  margin: 120px 0 0 0;
}
nav {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
  padding: 0 180px;
  &::before {
    content: "";
    position: absolute;
    left: -100vh;
    width: 100vh;
    background: white;
    height: 88px;
  }
  &::after {
    content: "";
    position: absolute;
    right: -100vh;
    width: 100vh;
    background: white;
    height: 88px;
  }
  .logo_link {
    width: 220px;
  }
  @media (max-width: 1200px) {
    padding: 0 50px;
  }
  @media (max-width: 500px) {
    padding: 0 30px;
  }
  .nav_dashed {
    border: 1px dashed $primary-color;
  }
  .nav-menu {
    display: none;
    gap: 16px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        transition: 0.1s ease-in-out;
      }
    }
    @media (min-width: 1200px) {
      display: flex;
    }
    li {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: $primary-color;
      font-weight: 600;
      border-radius: 8px;
      span {
        font-size: 10px;
        font-weight: 400;
      }
    }
  }
}
.nav_hover {
  cursor: pointer;
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  border-radius: 8px;
  &:hover {
    background: $gray-color;
    transition: 0.1s ease-in-out;
  }
}

.nav-menu {
  .nav-item {
    &:last-of-type {
      background: rgb(241, 241, 241);
      border-radius: 8px;
      transition: 0.1s ease-in-out;
      border: 1px dashed transparent;
      &:hover {
        border: 1px dashed $orange-color;
        transition: 0.1s ease-in-out;
      }
    }

    .dropdown {
      position: absolute;
      top: 190px;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      list-style-type: none;
      padding: 24px 32px;
      margin: 0;
      border-radius: 4px;
      // overflow: hidden;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1019607843);
      width: 1200px;
      .category {
        min-width: 250px;
        margin: 0 30px 0 0;

        h2 {
          font-size: 16px;
          text-transform: uppercase;
          background: $yellow-color;
          font-weight: 600;
          padding: 0 0 0 8px;
        }
        &_ul {
          flex-direction: column;
          li {
            justify-content: space-between;
            align-items: flex-start;
            padding: 8px 20px 0 4px;
            flex-direction: row;
          }
          h3,
          p {
            font-size: 12px;
            text-align: left;
            max-width: 150px;
          }
        }
      }
      .dropdown-item {
        padding: 0.5rem 1rem;
        color: $primary-color;
        white-space: nowrap;
        &:hover {
          background-color: #666;
        }
      }
      &::before {
        content: "";
        width: 1200px;
        height: 40px;
        background: transparent;
        position: absolute;
        left: 50%;
        top: -15px;
        transform: translate(-50%, -50%);
      }
    }
    .dropdown_large {
      top: 220px;
    }
    .dropdown_leto {
      top: 200px;
    }
    .dropdown_smaller {
      top: 210px;
      width: 550px;
      right: 0;
      transform: translate(9%, -50%);
      .hotel1-class {
        border-right: 1px dashed $primary-color;
      }
      .trip {
        h3 {
          max-width: unset;
        }
      }
      p {
        max-width: unset;
      }
    }
    .dropdown_contact {
      top: 210px;
      width: 450px;
      right: 0;
      transform: translate(32%, -50%);
      gap: 40px;
      a {
        &:hover {
          text-decoration: underline;
          transition: 0.1s ease-in-out;
        }
      }
      h2 {
        font-size: 14px;
        font-weight: 600;
      }
      strong {
        font-weight: 600;
      }
      .viber {
        color: #864cb2;
        font-size: 14px;
        font-weight: 600;
      }
      .whatsApp {
        color: #3adc49;
        font-size: 14px;
        font-weight: 600;
      }
      p {
        margin: 16px 0;
        padding: 16px 0;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
      }
      .contact_links {
        display: flex;
        flex-direction: column;
        a {
          text-decoration: none;
          color: $primary-color;
          padding: 0 0 16px 0;
        }
      }
      .trip {
        h3 {
          max-width: unset;
        }
      }
      p {
        max-width: unset;
      }
    }
    &:hover .dropdown {
      display: flex;
      animation: dropdownAnimation 0.3s ease-out forwards;
      background: white;
      z-index: 100;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}

@keyframes dropdownAnimation {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 300px; /* Adjust as needed */
    opacity: 1;
  }
}

.hamburger_menu {
  display: none;
  @media (max-width: 1200px) {
    display: block;
  }
  img {
    width: 50px;
    height: 50px;
  }
}
.mobile_nav_dropdown {
  position: absolute;
  top: 88px;
  width: 100%;
  height: 100%;
  // margin: 0 0 0 -20px;
  display: block;
  overflow-y: scroll;
  height: 130vh;
  background: white;
  z-index: 100;
  left: 0;
  .mobile_nav_dropdown_padding {
    padding: 0 20px;
  }
  &_contact {
    background: $primary-color;
    color: white;
    &_heading {
      padding: 20px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    &_content {
      height: 110vh;
      padding: 0 20px;

      .contact_links {
        display: flex;
        flex-direction: column;
        margin: 8px 0 0 0;
        &_wrapper {
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: calc(100% - 20px);
          border-top: 1px solid white;
          border-top: 1px solid white;
          img {
            transform: rotate(90deg);
            width: 20px;
            height: 20px;
          }
        }
        a {
          color: white;
          padding: 16px 0;
          text-decoration: none;
          text-transform: uppercase;
          display: block;
        }
      }
      // padding: 0 0 0 20px;
      .viber {
        color: #864cb2;
        font-size: 14px;
        font-weight: 600;
      }
      .whatsApp {
        color: #3adc49;
        font-size: 14px;
        font-weight: 600;
      }
      p {
        padding: 20px 0;
      }
    }
  }
  &_category {
    padding: 16px;
    @media (max-width: 500px) {
      width: 100%;
      padding: 16px 0;
    }
  }
  &_content {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 500px) {
      justify-content: center;
    }
    h2 {
      font-size: 16px;
      text-transform: uppercase;
      background: $yellow-color;
      font-weight: 600;
      padding: 0 8px;
    }
    h5 {
      font-weight: 400;
      font-size: 14px;
    }
    li {
      list-style-type: none;
      font-size: 14px;
      color: $primary-color;
      font-weight: 600;
      border-radius: 8px;
      font-weight: 400;
      padding: 4px;
      margin: 8px 0 0 0;
      cursor: pointer;
    }
  }
  &_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 16px 0;
    background: $gray-color;
  }
  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}

// HERO SECTION
.swiper-slide {
  overflow: hidden;
  width: 260px !important;
  margin-right: 16px;
}
.hero_wrapper {
  margin: 50px auto;
  max-width: $container;
  padding: 24px 0 32px 24px;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1019607843);
  @media (max-width: 800px) {
    width: 90%;
    margin: 20px auto;
  }
  h1 {
    font-size: 18px;
    color: $primary-color;
    font-weight: 600;
  }
  h6 {
    font-size: 14px;
    color: $primary-color;
    font-weight: 600;
  }
  .hero_slider {
    margin: 32px 0;
  }
  .trip {
    width: 260px;
    height: 420px;
    border-radius: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
    overflow: hidden;
    h4,
    p {
      font-size: 12px;
    }
    h4 {
      margin: 0 0 8px 0;
      padding: 0 0 8px 0;
      border-bottom: 1px solid white;
    }
    &_polasci {
      position: absolute;
      bottom: -20px;
      right: -54px;
      background: #dee5f8;
      color: black;
      z-index: 10;
      width: 140px;
      height: 76px;
      transform: rotate(313deg);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 0 32px 0;
      flex-direction: column;
      img {
        width: 15px;
        height: 15px;
      }
    }
    &_ad {
      position: absolute;
      top: 20px;
      left: 20px;
      display: flex;
      gap: 8px;
      z-index: 10;
      text-transform: uppercase;
      &_red {
        background: $orange-color;
        padding: 4px 6px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 10px !important;
      }
      &_blue {
        background: $primary-color;
        padding: 4px 6px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 10px !important;
      }
    }
    &_content_price {
      display: flex;
      gap: 8px;
      &_popust {
        text-decoration: line-through;
      }
      &_real {
        color: $orange-color;
      }
      p {
        font-size: 18px;
      }
    }
    h3 {
      font-weight: 600;
      font-size: 18px;
    }
  }
}
.hero_catergories {
  display: flex;
  text-transform: uppercase;
  p {
    margin: 32px 32px 0 16px;
    cursor: pointer;
    @media (max-width: 500px) {
      margin: 16px 16px 0 8px;
    }
  }
}
.swiper-wrapper {
  a {
    text-decoration: none;
    color: unset;
  }
}

// DESTINATION STYLES (TRIP)

.trip_wrapper {
  max-width: 1200px;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  gap: 20px;
  @media (max-width: 1200px) {
    flex-direction: column;
    padding: 40px 20px;
  }
  h1 {
    color: $primary-color;
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0;
  }
  h2 {
    color: $primary-color;
    font-size: 20px;
    font-weight: 600;
  }
  h4 {
    max-width: 600px;
  }
  h5 {
    color: white;
    padding: 6px 12px;
    border-radius: 16px;
    background: $primary-color;
    font-size: 16px;
    max-width: 130px;
    margin: 20px 0 0 0;
  }
  img {
    border-radius: 16px;
    max-width: 600px;
    @media (max-width: 1200px) {
      width: 90%;
      margin: 0 auto;
    }
  }
}
.trip_header {
  color: $primary-color;
  font-size: 12px;
  span {
    font-weight: 600;
  }
}
.trip_boxes {
  display: flex;
  gap: 16px;
  margin: 16px 0 0;
  flex-wrap: wrap;
  p {
    font-size: 13px;
    padding: 10px 12px;
    color: $primary-color;
    background: white;
    border-radius: 4px;
    border: 1px dashed $primary-color;
    font-weight: 600;
  }
}
.trip_hotels_container {
  overflow-x: scroll;
}
.trip_hotels {
  &_wrapper {
    max-width: $container;
    margin: 60px auto;
    border-radius: 16px;
    box-shadow: 0 0 13px 0 rgba(65, 63, 83, 0.2);
    padding: 32px;
    @media (max-width: 1200px) {
      margin: 40px 20px;
      padding: 12px;
    }
  }
  &_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(65, 63, 83, 0.2);
    padding: 0 0 8px 0;
    margin: 0 0 8px 0;
    h1 {
      font-size: 32px;
      font-weight: 600;
    }
  }
  &_rooms_wrapper {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(65, 63, 83, 0.2);
    margin: 16px 0;
    border-radius: 8px;
    align-items: center;
    &:first-of-type {
      background: $yellow-color;
    }
    .usluge_price {
      background: $yellow-color;
      text-align: center;
      font-size: 18px;
      width: 30%;
      height: 100%;
      padding: 15px 12px;
      &::after {
        display: none !important;
        cursor: unset !important;
      }
      p {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .usluge {
      background: $yellow-color;
      text-align: center;
      font-size: 18px;
      width: 70%;
      height: 100%;
      padding: 15px 12px;
      h4 {
        font-size: 18px;
      }
    }

    &_text {
      padding: 15px 12px;
      h4 {
        font-weight: 600;
        color: $primary-color;
        font-size: 16px;
      }
    }
    &_price {
      padding: 8px 52px;
      display: flex;
      gap: 16px;
      font-size: 16px;
      font-weight: 600;
      color: $primary-color;
      width: 20%;
      border-left: 1px solid rgba(65, 63, 83, 0.2);
      height: 79px;
      align-items: center;
      position: relative;
      cursor: pointer;
      &::after {
        content: "Reserviši";
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: $primary-color;
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        display: flex; // Use flex to center content
        justify-content: center;
        align-items: center;
        opacity: 0; // Start with opacity 0
        visibility: hidden; // Make it hidden initially
        transition: opacity 0.3s ease, visibility 0.3s ease; // Transition for opacity and visibility
      }

      &:hover {
        &::after {
          opacity: 1; // Change opacity to 1 on hover
          visibility: visible; // Make it visible on hover
        }
      }

      @media (max-width: 900px) {
        width: unset;
        padding: 8px 10px;
      }
      @media (max-width: 500px) {
        width: 40%;
      }
      span {
        text-decoration: line-through;
        font-weight: 200;
        @media (max-width: 900px) {
          display: none;
        }
      }
    }
  }
}
.trip_hotels_reserve_bg {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.trip_hotels_reserve {
  width: 70%;
  height: 550px;
  background: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1100;
  padding: 64px;
  position: relative;
  @media (max-width: 1024px) {
    width: 95%;
    padding: 20px;
    height: 95vh;
  }
  h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 20px 0;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }
  input {
    padding: 22px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgb(125, 125, 125);
    margin: 0 16px 16px 0;
    width: calc(50% - 16px);
    @media (max-width: 1024px) {
      width: 90%;
      padding: 11px 10px;
    }
  }
  &_shortedInput {
    width: calc(33% - 16px) !important;
    @media (max-width: 1024px) {
      width: 90% !important;
    }
  }
  &_btn {
    width: 280px;
    height: 60px;
    border-radius: 8px;
    background: $orange-color;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  &_close {
    position: absolute;
    top: 16px;
    right: 32px;
    border: none;
    background: none;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
  }
}
// FORM STYLES

.form_wrapper {
  max-width: $container;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 20px;
  padding: 0 0 50px 0;
  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &_div {
    padding: 32px 32px 52px;
    border-radius: 20px;
    box-shadow: 0 0 13px 0 rgba(65, 63, 83, 0.2);
    width: 50%;
    @media (max-width: 800px) {
      width: 90%;
      padding: 16px 16px 30px;
    }
  }
  input {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(169, 169, 169);
    font-size: 18px;
  }
  h1 {
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 8px 0;
  }
  p {
    font-size: 18px;
    margin: 0 0 24px 0;
  }
  button {
    margin: 20px 0;
    padding: 16px 20px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    span {
      display: flex;
      gap: 12px;
      select {
        width: calc(50%);
        padding: 20px;
        border-radius: 8px;
        border: 1px solid rgb(169, 169, 169);
        font-size: 18px;
      }
    }
  }
  .form_button_first {
    background: $orange-color;
    color: white;
  }
  .form_button_second {
    background: $primary-color;
    color: white;
  }
}

// GARANCIJA STYLES

.garancija_wrapper {
  max-width: $container;
  display: flex;
  margin: 0 auto;
  padding: 80px 20px;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 800px) {
    flex-direction: column;
  }
  &_div {
    width: 33%;
    @media (max-width: 800px) {
      width: 90%;
    }
    &_content {
      display: flex;
      gap: 16px;
      padding: 0 0 20px 0;
    }
    h1 {
      font-weight: 600;
      font-size: 32px;
      color: $primary-color;
      margin: 0 0 16px 0;
    }
    h2 {
      font-size: 18px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
    }
    h4 {
      font-size: 16px;
      margin: 0 0 20px 0;
      font-weight: 300;
    }
  }
}

// FOOTER STYLES

.footer_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 80px 200px;
  background: $primary-color;
  color: white;
  font-size: 16px;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
      transition: 0.1s ease-in-out;
    }
  }
  @media (max-width: 1200px) {
    padding: 80px 30px;
  }
  @media (max-width: 1024px) {
    flex-direction: column;
  }
  .footer_description {
    font-size: 12px;
    font-weight: 200;
    margin: 16px 0 0 0;
    padding: 16px 0 0 0;
    border-top: 1px dashed rgb(177, 177, 177);
  }
  span {
    font-weight: 600;
  }
  .footer_wrapper_last {
    display: flex;
    gap: 30px;
    @media (max-width: 1024px) {
      margin: 16px 0 0 0;
    }
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  .footer_wrapper_icons {
    display: flex;
    gap: 8px;
    margin: 0 0 16px 0;

    img {
      cursor: pointer;
    }
  }
  h2 {
    margin: 0 0 16px 0;
  }
  p {
    margin: 0 0 8px 0;
  }
}

// AKCIJA STYLES

.akcija_wrapper {
  max-width: $container;
  margin: 0 auto;
  &_content {
    background: linear-gradient(180deg, #2e2d5b 0%, #081a2f 100%),
      linear-gradient(0deg, #eff2f9, #eff2f9);
    border-radius: 16px;
    color: white;
    display: flex;
    padding: 32px;
    gap: 16px;
    @media (max-width: 1024px) {
      margin: 0 20px;
    }
    h1 {
      font-size: 16px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
    }
    img {
      width: 50px;
    }
  }
}
.akcija_boxes {
  display: flex;
  margin: 30px 0;
  gap: 16px;
  @media (max-width: 1024px) {
    flex-direction: column;
    margin: 30px 20px;
  }
  img {
    width: 50px;
  }
  font-size: 14px;
  span {
    font-weight: 600;
  }
  &_div {
    padding: 32px;
    display: flex;
    border: 1px dashed #aaa;
    border-radius: 16px;
    gap: 16px;
  }
}

// DOCEK STYLES

.docek_wrapper {
  max-width: $container;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  margin-bottom: 100px;
  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 32px;
    font-weight: 600;
    @media (max-width: 1024px) {
      font-size: 24px;
    }
  }
  p {
    font-size: 16px;
  }
  img {
    max-width: 556px;
    border-radius: 16px;
    @media (max-width: 1024px) {
      width: 90%;
    }
  }
  button {
    padding: 16px 20px;
    color: white;
    background: $primary-color;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin: 16px 0 0 0;
    cursor: pointer;
  }
  &_content {
    padding: 32px;
    border: 1px dashed $primary-color;
    border-radius: 16px;
    @media (max-width: 1024px) {
      padding: 16px 8px;
      width: 90%;
    }
  }
}

// PONUDE STYLES

.ponude_wrapper {
  max-width: $container;
  margin: 50px auto;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
  &_div {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    @media (max-width: 1200px) {
      justify-content: center;
    }
  }
  .ponude_content {
    width: 265px;
    margin-bottom: 200px;
    a {
      text-decoration: none;
      color: white;
    }
    &_text {
      position: absolute;
      bottom: -191px;
      width: 265px;
      border: 1px solid rgb(164, 164, 164);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 16px 20px 20px;
      &_p {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &_popust {
        text-decoration: line-through;
        margin: 0 8px 0 0;
      }
      &_price {
        color: $primary-color;
        font-weight: 600;
        font-size: 18px;
      }
      p,
      h4 {
        font-size: 12px;
        font-weight: 600;
        color: $primary-color;
      }
      h4 {
        border-top: 1px solid rgb(164, 164, 164);
        border-bottom: 1px solid rgb(164, 164, 164);
        padding: 8px 0;
        margin: 8px 0;
      }
    }
    &_img {
      height: 210px;
      display: flex;
      align-items: flex-end;
      padding: 16px;
      .trip_ad {
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        gap: 8px;
        z-index: 10;
        text-transform: uppercase;
        &_red {
          background: $orange-color;
          padding: 4px 6px;
          border-radius: 4px;
          font-weight: 600;
          font-size: 10px !important;
        }
        &_blue {
          background: $primary-color;
          padding: 4px 6px;
          border-radius: 4px;
          font-weight: 600;
          font-size: 10px !important;
        }
      }
      h3 {
        color: white;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .ponude_title_buttons {
    display: flex;
    p {
      padding: 16px;
      font-size: 16px;
      border: 1px solid $primary-color;
      cursor: pointer;
      font-weight: 600;
    }
  }
  .ponude_title_container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px 0;
    padding: 0 0 24px 0;
    border-bottom: 1px solid rgb(164, 164, 164);
    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 0 0 24px 20px;
      gap: 16px;
    }
  }
  .ponude_title_wrapper {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      transform: rotate(-90deg);
    }
  }
}
/* CountdownTimer.css */
.countdown-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  width: 100%; /* Make it responsive */
  max-width: 265px; /* Max width to prevent overflow */
  transition: all 0.3s ease;
}

.countdown-display {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #333; /* Darker text for better contrast */
  letter-spacing: 1px;
}

.timer-finished {
  font-size: 14px;
  color: #e74c3c; /* Bright red for alert */
  margin-top: 15px;
  font-weight: bold;
}

/* Add styles for individual time units */
.time-unit {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  background-color: #fff; /* White background for each time unit */
  border-radius: 10px;
  padding: 5px 7px; /* Padding for a spacious feel */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background 0.3s ease;
}

.time-unit:hover {
  background-color: #e9ecef; /* Light gray on hover */
}

.time-value {
  font-size: 18px; /* Slightly larger for emphasis */
  font-weight: bold;
}

.time-label {
  font-size: 12px; /* Smaller label for units */
  color: #777; /* Dim color for labels */
}

// KALENDAR STYLES

.kalendar {
  &_wrapper {
    max-width: calc($container - 50px);
    margin: 50px auto;
    &_title {
      @media (max-width: 1024px) {
        font-size: 24px;
      }
    }
    @media (max-width: 1024px) {
      padding: 0 20px;
    }
  }
  &_table_container {
    overflow-x: auto;
  }
  &_table {
    min-width: 800px;
    width: 100%;
    font-size: 16px;
    a {
      color: black;
      text-decoration: none;
      width: 100%;
    }
    tr {
      &:not(:last-child) {
        td {
          border-bottom: 1px solid rgb(164, 164, 164);
        }
      }
    }
    td {
      padding: 16px;
      cursor: pointer;
      @media (max-width: 1024px) {
        padding: 8px;
      }
      &:last-child {
        p {
          position: relative;
          &::after {
            content: "Pogledaj Ponudu >";
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background: white;
            color: $primary-color;
            width: 200px;
            height: 100%;
            border-radius: 4px;
            justify-content: flex-start;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            opacity: 0; // Start with opacity 0
            visibility: hidden; // Make it hidden initially
            transition: opacity 0.3s ease, visibility 0.3s ease;
            @media (max-width: 1024px) {
              opacity: 1;
            }
          }

          &:hover {
            &::after {
              opacity: 1; // Change opacity to 1 on hover
              visibility: visible; // Make it visible on hover
            }
          }
        }
      }
    }

    &_category {
      p {
        padding: 6px 6px;
        border-radius: 16px;
        background: $orange-color;
        color: white;
        text-align: center;
      }
    }
    &_h1 {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

// O NAMA STYLES

.onama_container {
  max-width: $container;
  margin: 150px auto;
  padding: 0 20px;
  @media (max-width: 1024px) {
    margin: 150px auto 40px auto;
  }
}
.onama_wrapper {
  display: flex;
  gap: 50px;
  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  video {
    @media (max-width: 1024px) {
      width: 95%;
    }
  }
  h1 {
    font-size: 40px;
    color: $primary-color;
    font-weight: 600;
  }
  p {
    font-size: 18px;
    color: $primary-color;
  }
  span {
    font-weight: 600;
  }
}
.Onama_turizam {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin: 100px 0 0 0;
  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &_div1 {
    width: 60%;
    font-size: 18px;
    @media (max-width: 1024px) {
      width: 100%;
    }
    h1 {
      font-size: 32px;
      margin: 0 0 16px 0;
    }
    p {
      margin: 0 0 20px 0;
      span {
        font-weight: 600;
      }
    }
    h3 {
      padding: 40px;
      font-size: 18px;
      margin: 16px 0;
      background: $gray-color;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      @media (max-width: 1024px) {
        padding: 20px;
      }
      span {
        font-weight: 600;
      }
    }
  }
  &_div2 {
    width: 40%;
    @media (max-width: 1024px) {
      width: 100%;
    }
    div {
      border-left: 1px dotted #98a8d0;
      padding: 0 0 25px 25px;
      position: relative;
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        background: $orange-color;
        position: absolute;
        left: -10px;
        top: 0;
        border-radius: 50%;
      }
    }
    h2 {
      font-size: 24px;
      padding: 0 0 25px 25px;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      padding: 0 0 15px 25px;
      font-weight: 300;
    }
  }
}

// KONTAKT WRAPPER

.kontakt_wrapper {
  max-width: $container;
  margin: 150px auto 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 0 20px;
  }
}
.kontakt_div1 {
  max-width: 320px;
  h1 {
    margin: 0 0 20px 0;
    font-size: 40px;
    font-weight: 600;
    color: $primary-color;
  }
  div {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    &:not(:last-child) {
      border-bottom: 3px dotted $primary-color;
    }
    h2 {
      font-weight: 600;
      font-size: 20px;
    }
  }
}
.kontakt_div2 {
  padding: 48px 48px 56px;
  border-radius: 16px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1019607843);
  background: white;
  @media (max-width: 1024px) {
    padding: 20px 20px 20px;
  }
  h1 {
    font-size: 32px;
    margin: 0 0 8px 0;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    margin: 0 0 24px;
  }
  input,
  select {
    padding: 21px 20px;
    border-radius: 8px;
    border: 1px solid rgb(129, 129, 129);
    margin: 18px 18px 0 0;
    width: calc(50% - 18px);
    font-size: 18px;
  }
  textarea {
    padding: 21px 20px;
    border-radius: 8px;
    border: 1px solid rgb(129, 129, 129);
    margin: 18px 18px 0 0;
    width: calc(100% - 18px);
    max-width: 450px;
    height: 160px;
  }

  button {
    width: 160px;
    background: $orange-color;
    color: white;
    border-radius: 8px;
    border: none;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
  }
  .kontakt_checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
    p {
      margin: 0;
    }
    input {
      padding: 0;
      width: unset;
      margin: 0;
    }
  }
}
