* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
$primary-color: #2f2e5b;
$background-color: #f4f6fb;
$yellow-color: #fcefb6;
$gray-color: rgb(241, 241, 241);

body {
  background: $background-color;
  overflow: hidden;
}
.logo {
  max-width: 250px;
}
.container {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1019607843);
  position: relative;
}
nav {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    padding: 0 50px;
  }
  @media (max-width: 500px) {
    padding: 0 30px;
  }
  .nav_dashed {
    border: 1px dashed $primary-color;
  }
  .nav-menu {
    display: none;
    gap: 16px;
    @media (min-width: 1200px) {
      display: flex;
    }
    li {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: $primary-color;
      font-weight: 600;
      border-radius: 8px;
      span {
        font-size: 10px;
        font-weight: 400;
      }
    }
  }
}
.nav_hover {
  cursor: pointer;
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  border-radius: 8px;
  &:hover {
    background: $gray-color;
    transition: 0.1s ease-in-out;
  }
}

.nav-menu {
  .nav-item {
    &:last-of-type {
      background: rgb(241, 241, 241);
      border-radius: 8px;
      transition: 0.1s ease-in-out;
      border: 1px dashed transparent;
      &:hover {
        border: 1px dashed $primary-color;
        transition: 0.1s ease-in-out;
      }
    }
    .dropdown {
      position: absolute;
      top: 190px;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      list-style-type: none;
      padding: 24px 32px;
      margin: 0;
      border-radius: 4px;
      // overflow: hidden;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1019607843);
      width: 1200px;
      .category {
        min-width: 250px;
        margin: 0 30px 0 0;

        h2 {
          font-size: 16px;
          text-transform: uppercase;
          background: $yellow-color;
          font-weight: 600;
          padding: 0 0 0 8px;
        }
        &_ul {
          flex-direction: column;
          li {
            justify-content: space-between;
            align-items: flex-start;
            padding: 8px 20px 0 4px;
            flex-direction: row;
          }
          h3,
          p {
            font-size: 12px;
            text-align: left;
            max-width: 150px;
          }
        }
      }
      .dropdown-item {
        padding: 0.5rem 1rem;
        color: $primary-color;
        white-space: nowrap;
        &:hover {
          background-color: #666;
        }
      }
      &::before {
        content: "";
        width: 1200px;
        height: 40px;
        background: transparent;
        position: absolute;
        left: 50%;
        top: -15px;
        transform: translate(-50%, -50%);
      }
    }
    .dropdown_leto {
      top: 200px;
    }
    .dropdown_smaller {
      top: 210px;
      width: 550px;
      right: 0;
      transform: translate(9%, -50%);
      .hotel1-class {
        border-right: 1px dashed $primary-color;
      }
      .trip {
        h3 {
          max-width: unset;
        }
      }
      p {
        max-width: unset;
      }
    }
    .dropdown_contact {
      top: 210px;
      width: 450px;
      right: 0;
      transform: translate(32%, -50%);
      gap: 40px;
      h2 {
        font-size: 14px;
        font-weight: 600;
      }
      strong {
        font-weight: 600;
      }
      .viber {
        color: #864cb2;
        font-size: 14px;
        font-weight: 600;
      }
      .whatsApp {
        color: #3adc49;
        font-size: 14px;
        font-weight: 600;
      }
      p {
        margin: 16px 0;
        padding: 16px 0;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
      }
      .contact_links {
        display: flex;
        flex-direction: column;
        a {
          text-decoration: none;
          color: $primary-color;
          padding: 0 0 16px 0;
        }
      }
      .trip {
        h3 {
          max-width: unset;
        }
      }
      p {
        max-width: unset;
      }
    }
    &:hover .dropdown {
      display: flex;
      animation: dropdownAnimation 0.3s ease-out forwards;
      background: white;
      z-index: 100;
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
}

@keyframes dropdownAnimation {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 300px; /* Adjust as needed */
    opacity: 1;
  }
}

.hamburger_menu {
  display: none;
  @media (max-width: 1200px) {
    display: block;
  }
  img {
    width: 50px;
    height: 50px;
  }
}
.mobile_nav_dropdown {
  position: absolute;
  top: 88px;
  width: 100%;
  height: 100%;
  // margin: 0 0 0 -20px;
  display: block;
  overflow-y: scroll;
  height: 130vh;
  background: white;
  z-index: 100;
  left: 0;
  .mobile_nav_dropdown_padding {
    padding: 0 20px;
  }
  &_contact {
    background: $primary-color;
    color: white;
    &_heading {
      padding: 20px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    &_content {
      height: 110vh;
      padding: 0 20px;

      .contact_links {
        display: flex;
        flex-direction: column;
        margin: 8px 0 0 0;
        &_wrapper {
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: calc(100% - 20px);
          border-top: 1px solid white;
          border-top: 1px solid white;
          img {
            transform: rotate(90deg);
            width: 20px;
            height: 20px;
          }
        }
        a {
          color: white;
          padding: 16px 0;
          text-decoration: none;
          text-transform: uppercase;
          display: block;
        }
      }
      // padding: 0 0 0 20px;
      .viber {
        color: #864cb2;
        font-size: 14px;
        font-weight: 600;
      }
      .whatsApp {
        color: #3adc49;
        font-size: 14px;
        font-weight: 600;
      }
      p {
        padding: 20px 0;
      }
    }
  }
  &_category {
    padding: 16px;
    @media (max-width: 500px) {
      width: 100%;
      padding: 16px 0;
    }
  }
  &_content {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 500px) {
      justify-content: center;
    }
    h2 {
      font-size: 16px;
      text-transform: uppercase;
      background: $yellow-color;
      font-weight: 600;
      padding: 0 8px;
    }
    h5 {
      font-weight: 400;
      font-size: 14px;
    }
    li {
      list-style-type: none;
      font-size: 14px;
      color: $primary-color;
      font-weight: 600;
      border-radius: 8px;
      font-weight: 400;
      padding: 4px;
      margin: 8px 0 0 0;
      cursor: pointer;
    }
  }
  &_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 16px 0;
    background: $gray-color;
  }
  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}

// HERO SECTION
.swiper-slide {
  overflow: hidden;
  width: 260px !important;
  margin-right: 16px;
}
.hero_wrapper {
  margin: 50px auto;
  max-width: 950px;
  padding: 24px 0 32px 24px;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1019607843);
  .hero_slider {
    margin: 32px 0;
  }
  .trip {
    width: 260px;
    height: 420px;
    border-radius: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
    overflow: hidden;
    h4,
    p {
      font-size: 12px;
    }
    h4 {
      margin: 0 0 8px 0;
      padding: 0 0 8px 0;
      border-bottom: 1px solid white;
    }
    &_polasci {
      position: absolute;
      bottom: -20px;
      right: -54px;
      background: #dee5f8;
      color: black;
      z-index: 10;
      width: 140px;
      height: 76px;
      transform: rotate(313deg);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 0 32px 0;
      flex-direction: column;
      img {
        width: 15px;
        height: 15px;
      }
    }
    &_ad {
      position: absolute;
      top: 20px;
      left: 20px;
      display: flex;
      gap: 8px;
      z-index: 10;
      text-transform: uppercase;
      &_red {
        background: #d32c30;
        padding: 4px 6px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 10px !important;
      }
      &_blue {
        background: $primary-color;
        padding: 4px 6px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 10px !important;
      }
    }
    &_content_price {
      display: flex;
      gap: 8px;
      &_popust {
        text-decoration: line-through;
      }
      &_real {
        color: #fcd210;
      }
      p {
        font-size: 18px;
      }
    }
    h3 {
      font-weight: 600;
      font-size: 18px;
    }
  }
}
